#species {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 25px;
}

button {
  color: #00e3a7;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

td.mat-cell, th.mat-header-cell {
  padding: 0 15px;
}