<p>Our cats average age is <span class="highlight">{{catAverageAge}} years</span> and they live in <span class="highlight">{{catUniqueCities}} unique cities</span>.</p>
<h1>Animals</h1>
<div id="species">
  <div *ngFor="let specie of species">
    <button class="button" (click)="CreateList($event.target.textContent)">{{ specie }}</button>
  </div>
</div>
<table mat-table [dataSource]="animalData" matSort>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let animal" > {{animal.name}} </td>
  </ng-container>
  <ng-container matColumnDef="breed">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Breed </th>
    <td mat-cell *matCellDef="let animal"> {{animal.breed}} </td>
  </ng-container>
  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Age </th>
    <td mat-cell *matCellDef="let animal"> {{animal.age}} </td>
  </ng-container>
  <ng-container matColumnDef="location">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
    <td mat-cell *matCellDef="let animal"> {{animal.location}} </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Favorite </th>
    <td mat-cell *matCellDef="let animal" style="text-align: center;">
      <button (click)="addToFavorites(animal)">&#9829;</button> 
    </td>
  </ng-container> 
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<h1>My favorites</h1>
<table mat-table [dataSource]="favoritesData" matSort>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let favorite" > {{favorite.name}} </td>
  </ng-container>
  <ng-container matColumnDef="breed">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Breed </th>
    <td mat-cell *matCellDef="let favorite"> {{favorite.breed}} </td>
  </ng-container>
  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Age </th>
    <td mat-cell *matCellDef="let favorite"> {{favorite.age}} </td>
  </ng-container>
  <ng-container matColumnDef="location">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
    <td mat-cell *matCellDef="let favorite"> {{favorite.location}} </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Remove from favorites </th>
    <td mat-cell *matCellDef="let favorite" style="text-align: center;">
      <button (click)="removeFromFavorites(favorite)">&#9940;</button> 
    </td>
  </ng-container> 
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
