/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.button:hover, .button:active { font-weight: 400; }
*:focus { outline: none; }

.highlight {
  font-weight: 800;
  color: tomato;
}

body { 
  background: #003245; 
  color: #fff;
}

h1 { 
  font-size: 47px;
  letter-spacing: 5px;
  line-height: 47px;
  font-family: 'Space Mono', monospace;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 22px;
  font-family: 'Space Mono', monospace;
  text-align: center;
}

.button {
  font-style: 'Quicksand', sans-serif;
  font-weight: 300;
}

svg {
  max-width: 330px;
  max-height: 142px;
}
